/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #F5F2FE;
  --text-color: #383737;
  --main-color: #ac00f0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}


h1,
h2,
h3,
h5,
h6,
p,
a {
  margin: 0px;
  padding: 0px;
}

.navbar-brand {
  color: var(--text-color);
  font-weight: 500;
}

.navbar-brand:hover {
  color: var(--main-color);
  transition: all 0.4s ease 0s;
}

#navbarNav {
  justify-content: end;
}

#navbarNav a {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 32px;
  transition: 0.3s;
}

#navbarNav a:hover,
#navbarNav a.active {
  color: var(--main-color);
}

.nav-link {
  color: var(--text-color);
  position: relative;
  padding: 0px;
  margin-right: 5px;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  background: var(--main-color);
  height: 2px;
  width: 0px;
  transition: all 0.4s ease 0s;
}

.nav-link:hover::before {
  width: 48%;
}

.nav-link::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -5px;
  background: var(--main-color);
  height: 2px;
  width: 0px;
  transition: all 0.4s ease 0s;
}

.nav-link:hover::after {
  width: 48%;
}

.home-section {
  min-height: 100vh;
  padding: 90px 9% 32px;
  background: var(--second-bg-color);
}

.home {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 9%;
}

.home-content {
  max-width: 960px;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

.home-content .text-animate {
  position: relative;
  width: 524px;
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--main-color);
}


.home-content p {
  position: relative;
  font-size: 20px;
  margin: 2rem 0 4rem;
}

.btn-box {
  display: block;
  margin: auto;
  width: 800px;
  height: 60px;
}

.btn-hire {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 100%;
  background: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  color: var(--bg-color);
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
  margin-right: 10px;

}

.btn-hire:hover {
  background: transparent;
  color: var(--main-color);
}

.btn-hire::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  border-radius: 13px;
  transition: 0.5s;
}

.btn-hire:hover::before {
  width: 100%;
}

.btn-cv {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 100%;
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
  margin-right: 10px;

}

.btn-cv:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.btn-cv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  border-radius: 13px;
  transition: 0.5s;
}

.btn-cv:hover::before {
  width: 100%;
}

.yoga-app .project-img{
  width: 500px;
}

.yoga-app .project-description a {
  border: 1px solid var(--main-color);
  color: var(--bg-color);
  background: var(--main-color);
}

.yoga-app .project-description a:hover {
  color: var(--main-color);
  background: transparent;
  transition: 0.2s linear;
}