:root {
    --primary-color: #be63ff;
    --secondary-color: #f5f2fe;
    --text-color: #212529;
    --base-color: #ffff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin-top: 100px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .navbar-collapse {
    justify-content: end;
  }

  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .nav-link{
    color: var(--text-color);
  }
  .nav-link:hover{
    color: var(--primary-color);
  }
  
  .navigation-links a {
    margin: 20px;
  }

  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--primary-color);
  }

  .primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .btn-branding{
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }

  img {
    display: block;
    margin: auto;
  }

  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .music-landing-page {
    background: var(--secondary-color);
    padding: 20px 10px ;
  }
  .music-landing-page img {
    width: 300px;
    display: block;
    margin: auto;
    box-shadow: var(--box-shadow);
  }
  
  .weather-app-img{
    background: var(--secondary-color);
    padding: 20px 10px ;
  }
  
  .weather-app-img img{
    width: 400px;
    display: block;
    margin: auto;
    box-shadow: var(--box-shadow);
  }
  
  .about-paragraphs {
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }

  .social-links{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }



